{% extends "base.html" %}
{% block title %}
  Об авторе проекта
{% endblock title %}
{% block content %}
<div class="container my-5">
  <div class="row">
    <div class="col-md-4 mb-3">
      <img src="https://media.discordapp.net/attachments/543545588592017418/1074342502942904470/photo_2022-09-15_15-45-31.jpg" class="img-fluid rounded-circle mb-3" alt="Profile Picture">
    </div>
    <div class="col-md-8">
      <h2 class="mb-3">Всем привет!</h2>
      <p> Я большой поклонник кошек, мемов и python, и мне нравится использовать свои навыки, чтобы воплощать свои идеи в жизнь. Имея небольшой опыт работы с HTML, CSS и Bootstrap, я всегда стараюсь, чтобы он выглядел как можно лучше.</p>
    </div>
  </div>
</div>
{% endblock content %}
