{% extends "base.html" %}
{% block title %}
  Технологии
{% endblock title %}
{% block content %}
  <div class="container my-5">
    <div class="container my-5">
      <h1 class="text-center">Воплощение идей в жизнь с помощью Django: взгляд на проект социальной сети Yatube</h1>
      <p>Бэкэнд-разработчику всегда интересно воплотить в жизнь новый проект. Именно так и произошло с проектом социальной сети Yatube. Благодаря авторизации, личным каналам, комментариям и подписке на авторов этот проект демонстрирует мощь Django и инструменты, которые делают все это возможным.</p>
      <p>Начав с основ HTML и макета, я решил создать основу для проекта Django и добавлять новые приложения по мере необходимости. Это позволило мне получить практический опыт работы с шаблоном Model-View-Controller (MVC) и механизмом шаблонов Django, которые помогли воплотить мои идеи в жизнь.</p>
      <p>Но построить функциональный проект — это только половина дела — также важно написать тесты, чтобы убедиться, что все работает как положено. Вот тут-то и появился Django ORM, предоставляющий мощный инструмент для управления базой данных и легкого написания тестов.</p>
      <p>Наконец, когда проект был завершен, я смог развернуть его в облаке с помощью PythonAnywhere, сделав его доступным для пользователей со всего мира.</p>
      <h2 class="text-center mt-5">Tools and Stack</h2>
      <div class="d-flex justify-content-center mb-5">
        <div class="p-2 bg-light border border-secondary rounded m-2">#python</div>
        <div class="p-2 bg-light border border-secondary rounded m-2">#HTML</div>
        <div class="p-2 bg-light border border-secondary rounded m-2">#CSS</div>
        <div class="p-2 bg-light border border-secondary rounded m-2">#Django</div>
        <div class="p-2 bg-light border border-secondary rounded m-2">#Bootstrap</div>
        <div class="p-2 bg-light border border-secondary rounded m-2">#Unittest</div>
        <div class="p-2 bg-light border border-secondary rounded m-2">#Pythonanywhere</div>
      </div>
      <p>Итак, являетесь ли вы опытным разработчиком или только начинаете, проект социальной сети Yatube — отличный пример того, чего можно достичь с помощью возможностей Django, HTML, CSS, Bootstrap, Unittest и PythonAnywhere. Давайте продолжим расширять границы возможного и воплощать наши идеи в жизнь.</p>
  </div>
{% endblock content %}
